*.beam
*.version
*~
.DS_Store
.bin
.eunit
Mnesia.*
apps/metricdb/ebin
apps/metricdb/include/HOWL-MIB.hrl
apps/metricdb/priv/mibs/HOWL-MIB.bin
apps/metricdb/include/metricdb_version.hrl
db
deps
dev
doc
ebin
erl_crash.dump
metricdb.xml
metricdb_template.xml
manifest
rel/metricdb
rel/metricdb.tar.bz2
rel/pkg/*.tgz
rel/pkg/build-info
rel/pkg/packlist
standalone.config
.eqc-info
*.eqc
