*.beam
*.version
*~
.DS_Store
.bin
.eunit
Mnesia.*
ebin
db
deps
dev
doc
ebin
erl_crash.dump
dalmatinerdb.xml
dalmatinerdb_template.xml
manifest
rel/dalmatinerdb
rel/dalmatinerdb.tar.bz2
rel/pkg/*.tgz
rel/pkg/build-info
rel/pkg/packlist
./*.config
.eqc-info
*.eqc
apps/metric_db/include/metric_db_version.hrl
.rebar
_build
TEST-*
