%% -*- erlang -*-
{sub_dirs, ["rel", "apps/metric_vnode", "apps/dalmatiner_db"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, "2.0.*",{git, "https://github.com/basho/lager.git", {tag,"2.0.3"}}},
  {ranch, "1.0.*", {git, "https://github.com/extend/ranch.git", {tag, "1.0.0"}}},
  {webmachine, ".*", {git, "https://github.com/basho/webmachine.git", {tag, "1.10.3"}}},
  {fqc, ".*", {git, "https://github.com/project-fifo/fqc.git", {branch, "master"}}},
  {fifo_utils, "0.1.2", {git, "https://github.com/project-fifo/fifo_utils.git", {tag, "0.1.2"}}},
  {riak_core, ".*", {git, "https://github.com/basho/riak_core.git", {tag, "2.0.2"}}},
  {riak_ensemble, ".*", {git, "git://github.com/basho/riak_ensemble", {branch, "develop"}}},
  {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "505400716dbc76ec9387d9d4335819b3bdcff9b2"}}},
  {k6_bytea, "1.1.2", {git, "https://git.k6.io/kivikakk/k6_bytea.git", {tag, "v1.1.2"}}},
  {mmath, ".*", {git, "https://github.com/DalmatinerDB/mmath.git", {tag, "0.1.2"}}},
  {mstore, ".*", {git, "https://github.com/DalmatinerDB/mstore.git", {tag, "0.1.2"}}},
  {dproto, ".*", {git, "https://github.com/DalmatinerDB/dproto.git", {tag, "0.1.3"}}}
 ]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
