%% -*- erlang -*-

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

%%-------------------------------------------------------------------
%% Dependencies
%%-------------------------------------------------------------------

{deps,
 [
  %% Lets overwrite stuff that is not 18.0 compatible :(
  edown,
  {lager, "3.0.2"},
  {ranch, "1.1.0"},
  fifo_utils,
  {riak_core, {pkg, riak_core_ng}},
  k6_bytea,
  trie,
  mmath,
  mstore,
  dproto,
  eper,
  recon
 ]}.

%%-------------------------------------------------------------------
%% Plugins
%%-------------------------------------------------------------------


{project_plugins, [{rebar3_cuttlefish, "0.10.0"}]}.

{plugins, [pc]}.

%%-------------------------------------------------------------------
%% Cuttlefish
%%-------------------------------------------------------------------

{cuttlefish,
 [{file_name, "dalmatinerdb.conf.example"},
  {schema_discovery, false}]}.

%%-------------------------------------------------------------------
%% Hooks
%%-------------------------------------------------------------------

{pre_hooks, [{compile, "make version_header"}]}.

%%-------------------------------------------------------------------
%% Testing
%%-------------------------------------------------------------------

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

%%-------------------------------------------------------------------
%% Profiles
%%-------------------------------------------------------------------

{profiles,
 [{eqc, [{deps, [meck]}, {plugins, [rebar3_eqc]}]},
  {short, [{erl_opts, [{d, 'EQC_SHORT_TEST'}]}]},
  {long, [{erl_opts, [{d, 'EQC_LONG_TEST'}]}]},
  {prod, [{relx, [{dev_mode, false}]}]},
  {lint,
   [{plugins,
     [{rebar3_lint,
       {git, "https://github.com/project-fifo/rebar3_lint.git",
        {tag, "0.1.4"}}}]}]}
 ]}.

%%-------------------------------------------------------------------
%% Overrides
%%-------------------------------------------------------------------

%%-------------------------------------------------------------------
%% RELx
%%-------------------------------------------------------------------

{relx,
 [{release, {ddb, "0.1.6"},
   [sasl,
    dalmatiner_db,
    {cuttlefish, load},
    {runtime_tools, load}, %% for dyntrace
    {bear, load}, % we need this since folsom doesn't include it
    {recon, load},
    {eper, load}
   ]},
  {dev_mode, true},
  {include_erts, true},
  {generate_start_script, false},
  {overlay_vars, "rel/vars.config"},
  {overlay,
   [{mkdir, "etc"},
    {mkdir, "share"},
    {copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
    {copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    {template, "rel/files/ddb", "bin/ddb"},
    {template, "rel/files/ddb-admin", "bin/ddb-admin"},
    {copy, "share/dtrace", "share/dtrace"},
    {template, "share/ddb.xml", "share/ddb.xml"},
    %% {copy, "_build/prod/lib/fifo_utils/priv/update_config.sh", "share/"},
    {template, "schema/dalmatinerdb.schema", "share/schema/00-dalmatinerdb.schema"},
    {template, "schema/erlang_vm.schema", "share/schema/01-vm.schema"},
    {template, "_build/prod/lib/riak_core/priv/riak_core.schema", "share/schema/02-riak_core.schema"},
    {template, "schema/lager.schema", "share/schema/03-lager.schema"}
   ]}]}.
