%% -*- erlang -*-

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

%%-------------------------------------------------------------------
%% Dependencies
%%-------------------------------------------------------------------

{deps,
 [
  %% Lets overwrite stuff that is not 18.0 compatible :(
  {edown,".*",     {git, "https://github.com/uwiger/edown.git",       {branch, "master"}}},
  {lager, "2.1.1"},
  {ranch, "1.1.0"},
  {fifo_utils, ".*", {git, "https://github.com/project-fifo/fifo_utils.git", {branch, "master"}}},
  {riak_core, ".*", {git, "https://github.com/project-fifo/riak_core.git", {branch, "fifo-0.6.2"}}},
  {cuttlefish, ".*", {git, "https://github.com/tsloughter/cuttlefish.git", {branch, "develop"}}},
  {k6_bytea, "1.1.4", {git, "https://github.com/dalmatinerdb/k6_bytea.git", {tag, "1.1.4"}}},
  {cluster_info, ".*", {git, "https://github.com/basho/cluster_info.git", {tag, "2.0.3"}}},
  {trie, "1.5.0"},
  {mmath, ".*", {git, "https://github.com/DalmatinerDB/mmath.git", {branch, "master"}}},
  {mstore, ".*", {git, "https://github.com/DalmatinerDB/mstore.git", {branch, "master"}}},
  {dproto, ".*", {git, "https://github.com/DalmatinerDB/dproto.git", {branch, "master"}}},
  eper,
  recon
 ]}.

%%-------------------------------------------------------------------
%% Plugins
%%-------------------------------------------------------------------

{plugins,
 [pc,
  {rebar3_cuttlefish, ".*", {git, "git://github.com/tsloughter/rebar3_cuttlefish.git", {branch, "master"}}}
 ]}.

%%-------------------------------------------------------------------
%% Hooks
%%-------------------------------------------------------------------

{pre_hooks, [{compile, "make version_header"}]}.

%%-------------------------------------------------------------------
%% Testing
%%-------------------------------------------------------------------

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

%%-------------------------------------------------------------------
%% Profiles
%%-------------------------------------------------------------------

{profiles,
 [{eqc, [{plugins, [{rebar3_eqc, ".*", {git, "git://github.com/project-fifo/rebar3-eqc-plugin.git", {branch, "fifo"}}}]}]},
  {short, [{erl_opts, [{d, 'EQC_SHORT_TEST'}]}]},
  {long, [{erl_opts, [{d, 'EQC_LONG_TEST'}]}]},
  {prod, [{relx, [{dev_mode, false}]}]}
 ]}.

%%-------------------------------------------------------------------
%% Overrides
%%-------------------------------------------------------------------

{overrides,
 [
  %% R18
  {override, cluster_info,
   [{erl_opts, [{i,"./priv/"}, debug_info]}]},
  {override, edown,
   [{erl_opts, [debug_info]}]},
  {override, eper,
   [{erl_opts, [debug_info]}]},

  {override, riak_core,
   [{erl_opts, [{parse_transform, lager_transform},
                debug_info, {platform_define, "^[0-9]+", namespaced_types},
                {platform_define, "^R15", "old_hash"}]}]},
  {override, riak_ensemble,
   [{erl_opts, [debug_info,
                warn_untyped_record,
                {parse_transform, lager_transform}]}]},
  {override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]},
  %% Normal
  {override, setup, [{post_hooks, []}]},
  {override, eleveldb,
   [{pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                 {compile, "c_src/build_deps.sh"}]},

    {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},

    {plugins,
     [pc]},

    {provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}]}]}]}]}.

%%-------------------------------------------------------------------
%% RELx
%%-------------------------------------------------------------------

{relx,
 [{release, {"dalmatinerdb", "0.1.0"},
   [sasl,
    dalmatiner_db,
    {recon, load},
    {setup , load},
    {cuttlefish, load},
    {runtime_tools, load}, %% for dyntrace
    {bear, load}, % we need this since folsom doesn't include it
    {eper, load}
   ]},
  {dev_mode, true},
  {include_erts, true},
  {generate_start_script, false},
  {overlay_vars, "rel/vars.config"},
  {overlay,
   [{mkdir, "etc"},
    {copy, "rel/files/erl", "erts-\{\{erts_vsn\}\}/bin/erl"},
    {copy, "rel/files/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    {template, "rel/files/ddb", "bin/ddb"},
    {template, "rel/files/ddb-admin", "bin/ddb-admin"},
    {copy, "_build/default/bin/cuttlefish", "bin/cuttlefish"},
    {copy, "share", "share"},
    %% {copy, "_build/prod/lib/fifo_utils/priv/update_config.sh", "share/"},
    {template, "schema/dalmatinerdb.schema", "share/schema/00-dalmatinerdb.schema"},
    {template, "schema/erlang_vm.schema", "share/schema/01-vm.schema"},
    {template, "_build/prod/lib/riak_core/priv/riak_core.schema", "share/schema/02-riak_core.schema"},
    {template, "schema/lager.schema", "share/schema/03-lager.schema"}
   ]}]}.

%%-------------------------------------------------------------------
%% Cuttlefish
%%-------------------------------------------------------------------

{cuttlefish_filename, "dalmatinerdb.conf.example"}.

{provider_hooks,
 [{post, [{release, cuttlefish}]}]}.

