Package: dalmatinerdb
Version: {{VERSION}}
License: MIT
Vendor: project-fifo
Maintainer: heinz@licenser.net
Section: default
Priority: extra
Homepage: https://dalmatiner.io
Description: Dalamtinerdb database
