Package: dalmatinerdb
Version: {{VERSION}}
License: unknown
Vendor: dataloop
Maintainer: packages@dataloop.io
Section: default
Priority: extra
Homepage: http://www.dataloop.io
Description: Dalamtinerdb database
