  Congratulations! The DalmatinerDB server was sucessfully installed.
.------------------------------------------------------------------------------.
| By default the service is disabled, to allow for the commonly needed         |
| additional configuration.                                                    |
|                                                                              |
| Please have a look at the configuration files:                               |
|                                                                              |
|  * /data/dalmatinerdb/etc/dalmatinerdb.conf                                  |
|                                                                              |
| Note: To start DalmatinerDB you will first need to start the epmd service.   |
|                                                                              |
`------------------------------------------------------------------------------'

