{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "dalmatinerdb", "0.1.0",
        [
         kernel,
         stdlib,
         sasl,
         metric_vnode,
         dalmatiner_db
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "dalmatinerdb"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, metric_vnode, [{incl_cond, include}]},
       {app, dalmatiner_db, [{incl_cond, include}]}
      ]}.

{target_dir, "dalmatinerdb"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "etc"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/ddb", "bin/ddb"},
           {template, "files/ddb-admin", "bin/ddb-admin"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {copy, "../share", "share"},
           {template, "../schema/dalmatinerdb.schema", "share/schema/00-dalmatinerdb.schema"},
           {template, "../schema/erlang_vm.schema", "share/schema/01-vm.schema"},
           {template, "../deps/riak_core/priv/riak_core.schema", "share/schema/02-riak_core.schema"},
           {template, "../schema/lager.schema", "share/schema/03-lager.schema"}
%           {template, "../schema/snmp.schema", "share/schema/04-snmp.schema"},
%           {template, "../deps/mdns_client_lib/priv/mdns_client.schema", "share/schema/04-mdns_client.schema"},
%           {template, "../deps/mdns_server_lib/priv/mdns_server.schema", "share/schema/04-mdns_server.schema"},
%           {copy, "../snmp", "snmp"}
           ]}.
