%%
%% rebar.config
%%
{build_dir, "{{output_dir}}/../.."}.
{cuttlefish_conf,       "ddb.conf"}.

%%
%% etc/app.config
%%
{ring_state_dir,        "/data/dalmatinerdb/db/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8598"}.
{handoff_ip,            "127.0.0.1"}.
{handoff_port,          "8599"}.
{dalmatinerdb_ip,       "127.0.0.1"}.
{tcp_port,              "5555"}.
{telnet_port,           "5556"}.
{udp_port,              "4444"}.
{log_path,              "/data/dalmatinerdb/log"}.
{db_path,               "/data/dalmatinerdb/db"}.

%%
%% etc/vm.args
%%
{node,                  "dalmatinerdb@127.0.0.1"}.
{crash_dump,            "/data/dalmatinerdb/log/erl_crash.dump"}.
{cookie,                "dalmatinerdb"}.
{run_user,              "dalmatiner"}.
{run_user_home,         "/data/dalmatinerdb"}.

{platform_etc_dir,      "/data/dalmatinerdb/etc"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/data/dalmatinerdb/db"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "/data/dalmatinerdb/log"}.
{platform_gen_dir,      "/data/dalmatinerdb/db"}.
{platform_pipe_dir,     "/tmp/dalmatinerdb_pipes/"}.

{service,               "dalmatinerdb"}.

{bugsnag_app_version,   "0.3.4p1"}.
