%%
%% etc/app.config
%%
{ring_state_dir,        "/var/db/metrcdb/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8498"}.
{handoff_port,          "8499"}.
{metrcdb_ip,            "127.0.0.1"}.
{http_port,             "8081"}.
{tcp_port,              "4240"}.
{log_path,              "/var/log/metrcdb"}.
{db_path,               "/var/db/metrcdb"}.

%%
%% etc/vm.args
%%
{node,                  "metrcdb@127.0.0.1"}.
{crash_dump,            "/var/log/metrcdb"}.
{cookie,                "metrcdb"}.
{run_user,              "metrcdb"}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "metricdb.conf"}.

{platform_etc_dir,      "./etc"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/var/db/metrcdb"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "/var/log/metrcdb"}.
