%%
%% etc/vm.args
%%
{run_user,              "dalmatiner"}.
{run_user_home,         "/var/lib/ddb"}.
{crash_dump,            "/var/log/ddb"}.
{cuttlefish_conf,       "ddb.conf"}.

{platform_etc_dir,      "/etc/ddb"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "/var/lib/ddb"}.
{platform_lib_dir,      "/usr/lib/ddb/lib"}.
{platform_log_dir,      "/var/log/ddb"}.
