%%
%% etc/app.config
%%
{ring_state_dir,        "./data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8493"}.
{handoff_port,          "8403"}.

{http_port,             "8083"}.
{tcp_port,              "4243"}.
{log_path,              "./log"}.

%%
%% etc/vm.args
%%
{node,                  "dev3@127.0.0.1"}.
{cookie,                "metricdb"}.
{db_path,               "./data"}.

{crash_dump,            "./log"}.
{run_user,              ""}.

{cuttlefish,            "on"}.
{cuttlefish_conf,       "metricdb.conf"}.

{platform_etc_dir,      "./etc"}.
{platform_bin_dir,      "./bin"}.
{platform_data_dir,     "./data"}.
{platform_lib_dir,      "./lib"}.
{platform_log_dir,      "./log"}.
