%% -*- erlang -*-
[
 {howl, [
         {accpetors, 100},
         {http_port, {{http_port}} },
         {tcp_port, {{tcp_port}} }
        ]},
 {snmp,
  [{agent,
    [{config, [{dir, "snmp/conf/"}]},
     {db_dir, "/var/db/howl"}]}]},
 {mdns_server_lib,
  [{domain, ".local"},
   {service, "howl"},
   {ip, "{{howl_ip}}" },
   {port, {{tcp_port}} },
   {handler, howl_tcp_protocol}
  ]},
 {lager,
  [{handlers, [
               {lager_console_backend, info},
               {lager_file_backend, [{"{{log_dir}}/debug.log", debug}]},
               {lager_file_backend, [{"{{log_dir}}/info.log", info}]},
               {lager_file_backend, [{"{{log_dir}}/warning.log", warning}]},
               {lager_file_backend, [{"{{log_dir}}/error.log", error}]}
              ]},
   {crash_log, "{{log_dir}}/crash.log"},
   {crash_log_size, 65536},
   {error_logger_redirect, true}
  ]},
 %% Riak Core config
 {riak_core, [
              %% Default location of ringstate
              {ring_state_dir, "{{ring_state_dir}}"},

              %% http is a list of IP addresses and TCP ports that the Riak
              %% HTTP interface will bind.
              %% {http, [ {"{{web_ip}}", {{web_port}} } ]},

              %% https is a list of IP addresses and TCP ports that the Riak
              %% HTTPS interface will bind.
                                                %{https, [{ "{{web_ip}}", {{web_port}} }]},

              %% default cert and key locations for https can be overridden
              %% with the ssl config variable
                                                %{ssl, [
                                                %       {certfile, "etc/cert.pem"},
                                                %       {keyfile, "etc/key.pem"}
                                                %      ]},

              %% riak_handoff_port is the TCP port that Riak uses for
              %% intra-cluster data handoff.
              {handoff_port, {{handoff_port}} }
             ]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "{{log_dir}}/sasl/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "{{log_dir}}/log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].
